01project/node_modules
weather-app/public/robots.txt
weather-app/public/manifest.json
weather-app/public/logo512.png
weather-app/public/logo192.png
weather-app/public/index.html
weather-app/public/favicon.ico
weather-app/package.json
weather-app/package-lock.json
weather-app/src/assets/background.jpg.jpg
weather-app/.env
