body {
    background: linear-gradient(to bottom, #1215b6, #08c4d1);
    background-attachment: fixed; 
    background-size: cover; 
    color: #fff; 
    font-family: Arial, sans-serif; 
  }
  
  #clockContainer{
    margin: auto;
    background-color: red;
    height: 40vw;
    width:40vw;
    background: url('clock.png') no-repeat;
    background-size: contain;
    
  }

  #hours, minutes, seconds{
    position: absolute;
    background: black;
    border-radius: 40px;
  }

  #hours{
    width: 1%;
    height:24%;
    top: 2%;
    left: 49.4%;
  }
  #minutes{

  }
  #seconds{

  }